// ------------------------------------------
// bi app mixins
// authors: 
// twitter.com/anasnakawa
// twitter.com/victorzamfir
// twitter.com/siavash_kavousi
// licensed under the MIT license
// http://www.opensource.org/licenses/mit-license.php
// ------------------------------------------

// ------------------------------------------
// Table of contents
// ------------------------------------------
// padding
// margin
// float
// text align
// clear
// left / right
// border
//  - width
//  - style
//  - color
//  - generic
//  - radius
// ltr / rtl contents
// ------------------------------------------

// generic mixin for properties with values
// (top right bottom left)
// ------------------------------------------
bi-app-compact($property, $top, $right, $bottom, $left)
  if $bi-app-direction == ltr
    {$property} $top $right $bottom $left
  else
    {$property} $top $left $bottom $right

// padding
// ------------------------------------------
padding-left($distance)
  padding-{$bi-app-left} $distance

padding-right($distance)
  padding-{$bi-app-right} $distance

padding($top, $right, $bottom, $left)
  bi-app-compact(padding, $top, $right, $bottom, $left)

// margin
// ------------------------------------------
margin-left($distance)
  margin-{$bi-app-left} $distance

margin-right($distance)
  margin-{$bi-app-right} $distance

margin($top, $right, $bottom, $left)
  bi-app-compact(margin, $top, $right, $bottom, $left)

// float
// ------------------------------------------
bi-app-float-left($important = '')
  float $bi-app-left unquote($important)

bi-app-float-right($important = '')
  float $bi-app-right unquote($important)

float($direction, $important = '')
  if $direction == left
    bi-app-float-left($important)
  else if $direction == right
    bi-app-float-right($important)
  else
    float $direction

// text align
// ------------------------------------------
bi-app-text-align-left
  text-align $bi-app-left

bi-app-text-align-right
  text-align $bi-app-right

text-align($direction)
  if $direction == left
    bi-app-text-align-left
  else if $direction == right
    bi-app-text-align-right
  else
    text-align: $direction

// clear
// ------------------------------------------
bi-app-clear-left
  clear $bi-app-left

bi-app-clear-right
  clear $bi-app-right

clear($direction)
  if $direction == left
    bi-app-clear-left
  else if $direction == right
    bi-app-clear-right
  else
    clear $direction

// left / right
// ------------------------------------------
left($distance)
  if $bi-app-direction == ltr
    left $distance
  else if $bi-app-direction == rtl
    right $distance

right($distance)
  if $bi-app-direction == ltr
    right $distance
  else if $bi-app-direction == rtl
    left $distance

// border
// ------------------------------------------

// width
border-left-width($width)
  border-{$bi-app-left}-width $width

border-right-width($width)
  border-{$bi-app-right}-width $width

border-width($top, $right, $bottom, $left)
  bi-app-compact(border-width, $top, $right, $bottom, $left)

// style
border-left-style($style)
  border-{$bi-app-left}-style $style

border-right-style($style)
  border-{$bi-app-right}-style $style

border-style($top, $right, $bottom, $left)
  bi-app-compact(border-style, $top, $right, $bottom, $left)

// color
border-left-color($color)
  border-{$bi-app-left}-color $color

border-right-color($color)
  border-{$bi-app-right}-color $color

border-color($top, $right, $bottom, $left)
  bi-app-compact(border-color, $top, $right, $bottom, $left)

// generic
border-left($border-style)
  border-{$bi-app-left} $border-style

border-right($border-style)
  border-{$bi-app-right} $border-style

// radius
border-top-left-radius($radius)
-webkit-border-top-{$bi-app-left}-radius $radius
  -moz-border-top{$bi-app-left}-radius $radius
    border-top-{$bi-app-left}-radius $radius

border-top-right-radius($radius)
-webkit-border-top-{$bi-app-right}-radius $radius
  -moz-border-top{$bi-app-right}-radius $radius
    border-top-{$bi-app-right}-radius $radius

border-bottom-left-radius($radius)
-webkit-border-bottom-{$bi-app-left}-radius $radius
  -moz-border-bottom{$bi-app-left}-radius $radius
    border-bottom-{$bi-app-left}-radius $radius

border-bottom-right-radius($radius)
-webkit-border-bottom-{$bi-app-right}-radius $radius
  -moz-border-bottom{$bi-app-right}-radius $radius
    border-bottom-{$bi-app-right}-radius $radius

border-right-radius($radius)
border-top-right-radius($radius)
border-bottom-right-radius($radius)

border-left-radius($radius)
border-top-left-radius($radius)
border-bottom-left-radius($radius)

border-top-radius($radius)
border-top-left-radius($radius)
border-top-right-radius($radius)

border-bottom-radius($radius)
border-bottom-left-radius($radius)
border-bottom-right-radius($radius)

border-radius($topLeft, $topRight= null, $bottomRight= null, $bottomLeft= null)
if $topRight != null
  border-top-left-radius($topLeft)
  border-top-right-radius($topRight)
  border-bottom-right-radius($bottomRight)
  border-bottom-left-radius($bottomLeft)
else
  -webkit-border-radius $topLeft
    -moz-border-radius $topLeft
      -ms-border-radius $topLeft
        -o-border-radius $topLeft
          border-radius $topLeft

// Returns "en" or "fa", useful for image suffixes.
// Usage: background-image: url(/img/header-#{lang()}.png);
lang()
  if $bi-app-direction == ltr
    'en'
  else
    'ar'

// Support for "direction" declaration (renders ltr/rtl).
// Useful for form elements as they swap the text-indent property and align the text accordingly.
direction
  direction $bi-app-direction

// Inverts a percentage value. Example: 97% becames 3%.
// Useful for background-position.
bi-app-invert-percentage($percentage)
  if $bi-app-direction == rtl
    100% - $percentage
  else
    $percentage

// ltr / rtl contents
// ------------------------------------------
ltr
  if $bi-app-direction == ltr
    {block}

rtl
  if $bi-app-direction == rtl
    {block}
